.list__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: scroll;
   
    height: 89%;
}
.wrap{
    height: 100vh;
}
.title{
    text-align: center;
   
}

@media only screen and (max-width: 600px) {
    .list__wrapper{
      
        grid-template-columns: 1fr ;
    }
  }